<landing-directive>
	<div id="landing">
		<div id='landing-overlay'></div>
		<img id="logo" class="global-center" src="https://s3.amazonaws.com/uploads.hipchat.com/27243/752569/jIaK2Cflv6tKmUH/logo-medium-300-new.png">
		<p class="global-center" id="sub-heading">WE HELP YOU HELP OTHERS</p>
		<div class="global-center" id="pin-circle"></div>
		<div class="global-center" id="pin-outercircle"></div>
		<div class="global-center" id="vertical-line"></div>
		<h1 class="global-center" id="ad-count">
			1500
			<span>Ads</span>
		</h1>
		<p class="global-center" id="address">Found 200 ads around <span class="pink-text">{{address}}</span></p>
	</div>
</landing-directive>