<ion-view title="Your Wishlist">
  <ion-header-bar class="bar-subheader item-input-inset ads-header">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="search.name">
    </label>
  </ion-header-bar>
  <ion-content class="has-header">
    <h3 ng-if="wishlist.length < 1" class="no-wishlist-items">No items in your wishlist :( While viewing an ad, click on <i class="icon-star-2 wishlist-icon"></i> to add it to your wishlist.</h3>
    <ion-item type="item-text-wrap" ng-repeat="item in wishlist | filter:search" class="list-items global-items" ng-class-even="'no-background'">
      <a>{{item.title}}</a>
    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
